/* [v-cloak] {
    display: none;
}

#app ul {
    list-style: none;
}

#app li > span.done {
    text-decoration: line-through;
} */

.large {
    font-size: 36px;
}

.text-danger {
    color: red;
}

.bg-gray {
    background-color: gray;
}

.text-blue {
    color: blue;
}