<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div id = "app">
<ul>
  <li v-for="color in colors">{{ color.name }}</li>
</ul>
<button v-on:click="onClick">Click!</button>

    <!-- <p><input type="text" v-model="firstName"></p>
    <p><input type="text" v-model="lastName"></p>
    <p>fullName: {{fullName}}</p> -->

    <!-- <p><input type="text" v-model="km">km</p>
    <p><input type="text" v-model="m">m</p>

    <p>{{ message }}</p>
    <p><input type="text" v-model="message"></p>

    <h2>computed</h2>
    <ol>
      <li>{{ computedNumber }}</li>
      <li>{{ computedNumber }}</li>
      <li>{{ computedNumber }}</li>
    </ol>

    <h2>methods</h2> -->
    <!-- <ol>
      <li>{{ methodsNumber() }}</li>
      <li>{{ methodsNumber() }}</li>
      <li>{{ methodsNumber() }}</li>
    </ol> -->

    <!-- <p>base price: <input type="text" v-model="basePrice"></p>
    <p>included tax price: <input type="text" v-model="taxIncludedPrice"></p>

    <p v-cloak>{{ message }}</p>
    <p v-cloak>{{ reversedMessage }}</p>
    <p v-cloak>{{ reversedMessageMethod() }}</p> -->

    <!-- <h2>Mustache</h2> -->
    <!-- <a v-bind:href="url">link1</a><br>
    <a :href="url">link2</a> -->

    <!-- <p>{{ message }}</p> -->
    <!-- <p>{{ number + 1 }}</p>
    <p>{{ message.split('').reverse().join('') }}</p>
    <p>{{ ok ? "YES" : "NO" }}</p> -->
    
    <!-- <h2>v-text</h2>
    <p v-text="message">{{message}}</p> -->
    <!-- <p>{{ ok ? message : ''}}</p> -->

    <!-- <p v-html="message1"></p>
    <p v-pre>{{message1}}</p>
    <p v-once>{{message1}}</p>
    <button v-on:click="clickHndler">Click!</button> -->
  </div>
  
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="js/main.js"></script>
</body>
</html>

